<div class="container text-center">
    <button (click)="DownloadFile()" class="btn btn-primary mb-5 shadow border">Download PDF Resume</button>

    <div class="pb-2">
      <div ngbAccordion class="shadow" >
        <div ngbAccordionItem>
            <h2 ngbAccordionHeader>
              <button ngbAccordionButton>Work Experience</button>
            </h2>
            <div ngbAccordionCollapse>
                <div ngbAccordionBody>
                    <ng-template>
                        <div style="text-align: left;">
                            <h2 class="mb-0">Software Enginner</h2>
                            <h3 class="text-primary">UMA Techonologies Company</h3>
                            <ol>
                              <div class="d-flex align-items-start flex-column">
                                <div class="p-2">
                                  I would like to give you an overview of my previous project for a personal transport company. This project integrates several essential features for the management and administration of transport services. Here are the main elements:
                                </div>
                                <div class="p-2">
                                  <h3>Project Features</h3>
                                </div>
                                <div class="p-2">
                                  <li><b>Light Authentication:</b></li>
                                  <ul style="list-style-type:disc;">
                                    <li>Implementation of a secure and simple authentication system for users.</li>
                                  </ul>
                                </div>
                                <div class="p-2">
                                  <li><b>Admin Panel:</b></li>
                                  <ul style="list-style-type:disc;">
                                    <li>A comprehensive administrative dashboard that allows administrators to manage all the application's functionalities.</li>
                                  </ul> 
                                </div>
                                <div class="p-2">
                                  <li><b>User Spaces with Roles and Authorization:</b></li>
                                  <ul style="list-style-type:disc;">
                                    <li>Management of users with different roles (administrators, drivers, clients).</li>
                                    <li>Advanced authorization system to control access to different sections and functionalities of the application.</li>
                                  </ul>
                                </div>
                                <div class="p-2">
                                  <li><b>Menu Management:</b></li>
                                  <ul style="list-style-type:disc;">
                                    <li>Management interface to customize and organize menu items according to the user's needs.</li>
                                  </ul>
                                </div>
                                <div class="p-2">
                                  <li><b>Export and Import Data to Excel:</b></li>
                                  <ul style="list-style-type:disc;">
                                    <li>Features allowing data to be exported and imported in Excel format to facilitate the processing and analysis of information.</li>
                                  </ul>
                                </div>
                                <div class="p-2">
                                  <li><b>Generation of Word and PDF Documents:</b></li>
                                  <ul style="list-style-type:disc;">
                                    <li>Automated creation of Word and PDF documents for reports, invoices, and other administrative documents.</li>
                                  </ul>
                                </div>
                                <div class="p-2">
                                  <li><b>Generation of Charts:</b></li>
                                  <ul style="list-style-type:disc;">
                                    <li>Integration of line, bar, and pie charts for data visualization.</li>
                                    <li>Interactive tools to analyze and present data in a visual and understandable way.</li>
                                  </ul>
                                </div>
                                <div class="p-2">
                                  <p>This project has simplified the management of personal transport operations and improved administrative efficiency through an intuitive interface and powerful data management tools.</p>
                                </div>
                              </div>
                            </ol>
                        </div>
                        <hr>
                        <div style="text-align: left;">
                            <h2 class="mb-0">Software Enginner</h2>
                            <h3 class="text-primary">Freelancer</h3>
                            <ul>
                              <li>
                                As a freelancer, I have collaborated on several projects, each beginning with a thorough analysis of the client's needs and required functionalities. 
                                My role primarily involved designing and developing the entire project architecture, focusing on backend development and DevOps aspects.
                              </li>
                              <li>
                                For each project, I started by creating a solid architecture, notably using the Laravel Framework to set up microservices. I integrated technologies such as Docker for container management, Redis for caching, etc.
                                to meet the project's specific needs and ensure its scalability. Additionally, I employed PHP Security to guarantee data security by implementing encryption practices, input filtering, and protection against common attacks.
                                To guide the development process, I developed detailed class diagrams that served as a reference throughout the project lifecycle, facilitating collaboration with other team members and ensuring consistency and clarity in the code structure.
                              </li>
                              <li>
                                In parallel, I ensured the deployment of projects on dedicated server or VPS, optimizing resources (RAM, memory, CPU) to meet the specific needs of clients while adhering to their budget. 
                                I configured and secured the servers, including launching MySQL instances on OVH and restricting access to SSH ports and the database to authorized personnel only.
                              </li>
                              <li>
                                I set up continuous integration processes using Jenkins and Docker, configuring pipelines to automate the deployment of project services. 
                                I also took on the responsibility of leading a team, ensuring regular monitoring and transparent communication to ensure project efficiency and quality.
                              </li>
                              <li>
                                My commitment to each project also included constant performance analysis and adjustments based on client feedback, aiming to optimize performance and meet the changing needs of the project.
                              </li>
                              <li>Continuing to implement streamlined and efficient processes.</li>
                              <li>Participating in the preparation and writing of specifications documents.</li>
                              <li>Implementation of performance tests and functional tests.</li>
                              <li>Handling corrective maintenance of features.</li>
                              <li>Technologies: PHP, Laravel, JavaScript, Livewire, TailwindCSS, Json, jQuery, MySQL, UML</li>
                            </ul>
                        </div>
                        <hr>
                        <div style="text-align: left;">
                          <h2 class="mb-0">Software Enginner</h2>
                          <h3 class="text-primary">Delta Solution</h3>
                          <ul>
                            <li>Analysis of production incidents and bug resolution as necessary.</li>
                            <li>Modeling and preoperative planning.</li>
                            <li>Implementation, software development, and integration.</li>
                            <li>Reporting and monitoring.</li>
                            <li>Writing of texts.</li>
                          </ul>
                      </div>
                      <!-- <hr>
                      <div style="text-align: left;">
                          <h2 class="mb-0">Software Enginner</h2>
                          <h3 class="text-primary">Workhouse</h3>
                          <ul>
                              <li></li>
                              <li></li>
                              <li></li>
                              <li></li>
                              <li></li>
                          </ul>
                    </div> -->
                    </ng-template>
                </div>
            </div>
        </div>

        <div ngbAccordionItem>
            <h2 ngbAccordionHeader>
              <button ngbAccordionButton>Education</button>
            </h2>
            <div ngbAccordionCollapse>
              <div ngbAccordionBody>
                <ng-template>
                    <div style="text-align: left;">
                      <h2 class="mb-0">Bacheler's of Science in Mathematics and Computer Science</h2>
                      <h3 class="text-primary">IBN TOFAIL University</h3>
                      <ul>
                        <li>Graduated from Ibn Tofail University in May 2019</li>
                        <li>Speciality: Mathematics and Computer Science</li>
                        <li>University degree</li>
                      </ul>
                    </div>
                </ng-template>
              </div>
            </div>
        </div>

        <div ngbAccordionItem>
            <h2 ngbAccordionHeader>
              <button ngbAccordionButton>Certifications</button>
            </h2>
            <div ngbAccordionCollapse>
              <div ngbAccordionBody>
                <ng-template>
                    <div style="text-align: left;">
                      <h2 class="mb-0">Higher Technician Certificate</h2>
                      <h3 class="text-primary">IBN SINA High School</h3>
                      <ul>
                        <li>Obtained August 2018</li>
                        <li>Speciality: Development of Information Systems</li>
                      </ul>
                      <h2 class="mb-0">Office of Professional Training and of Work Experience</h2>
                      <h3 class="text-primary">Hay Chmaou ISTA</h3>
                      <ul>
                        <li>2016</li>
                        <li>Speciality: Technical Software Development</li>
                      </ul>
                    </div>
                </ng-template>
              </div>
            </div>
        </div>

        <div ngbAccordionItem>
            <h2 ngbAccordionHeader>
              <button ngbAccordionButton>Skills</button>
            </h2>
            <div ngbAccordionCollapse>
              <div ngbAccordionBody>
                <ng-template>
                    <div class="row" style="text-align: left;">
                        <div class="col">
                          <h3>Programming Languages:</h3>
                          <ul>
                            <li>HTML/CSS</li>
                            <li>PHP</li>
                            <li>C#</li>
                            <li>JavaScript</li>
                            <li>TypeScript</li>
                            <li>Python</li>
                            <li>Java</li>
                          </ul>
                        </div>

                        <div class="col">
                          <h3>Frameworks:</h3>
                          <ul>
                            <li>Angular</li>
                            <li>Laravel</li>
                            <li>Livewire</li>
                            <li>ReactJS</li>
                            <li>VueJS</li>
                            <li>ASP.NET</li>
                            <li>Node.JS</li>
                          </ul>
                        </div>

                        <div class="col">
                          <h3>Other Skills:</h3>
                          <ul>
                            <li>Source Control via Git</li>
                            <li>MVC Architecture</li>
                            <li>Agile Development</li>
                            <li>OOP</li>
                          </ul>
                        </div>
                    </div>
                </ng-template>
              </div>
            </div>
        </div>
    </div>
    </div>
</div>
